'scopeName': 'source.gdscript'
'name': 'GDScript'
'fileTypes': [
  'gd'
]
'patterns': [
  { # Keywords
    'match': '\\b(if|elif|else|for|while|match|break|continue|pass|return)\\b'
    'name': 'keyword.control.gdscript'
  }
  { # Declarations
    'match': '\\b(func|class|class_name|extends|enum|const|var|onready|static)\\b'
    'name': 'keyword.declaration.gdscript'
  }
  { # Signal
    'match': '\\b(signal)\\b'
    'name': 'keyword.other.signal.gdscript'
  }
  { # Comments
    'match': '"[^"]*"'
    'name': 'string.quoted.double.gdscript'
  }
  {
    'match': "'[^']*'"
    'name': 'string.quoted.single.gdscript'
  }
  {
    'begin': '#'
    'beginCaptures': {'0': {'name': 'comment.line.number-sign.gdscript'}}
    'end': '$'
    'name': 'comment.line.number-sign.gdscript'
  }
  {
    'match': '\\b(?i:(0x\\h*)L)'
    'name': 'constant.numeric.integer.long.hexadecimal.gdscript'
  }
  {
    'match': '\\b(?i:(0x\\h*))'
    'name': 'constant.numeric.integer.hexadecimal.gdscript'
  }
  {
    'match': '\\b(?i:(0o?[0-7]+)L)'
    'name': 'constant.numeric.integer.long.octal.gdscript'
  }
  {
    'match': '\\b(?i:(0o?[0-7]+))'
    'name': 'constant.numeric.integer.octal.gdscript'
  }
  {
    'match': '\\b(?i:(0b[01]+)L)',
    'name': 'constant.numeric.integer.long.binary.gdscript'
  }
  {
    'match': '\\b(?i:(0b[01]+))',
    'name': 'constant.numeric.integer.binary.gdscript'
  }
  { # Constants
    'match': '\\b(false|true|null)\\b'
    'name': 'constant.language.gdscript'
  }
  { # Build in functions
    'match': '\\b(print|print_debug|printt|str|len|abs|pow|sqrt|randf|randi)\\b'
    'name': 'support.function.builtin.gdscript'
  }
  { # Function declaration
    'begin': '\\bfunc\\s+([a-zA-Z_][a-zA-Z0-9_]*)'
    'beginCaptures':
      '1':
        'name': 'entity.name.function.gdscript'
    'end': '(?=\\(|:)'
    'name': 'meta.function.gdscript'
  }
  { # Function calls
    'match': '\\b([a-zA-Z_][a-zA-Z0-9_]*)\\s*(?=\\()'
    'name': 'support.function.call.gdscript'
  }
  { # Language Types
    'match': '\\b(int|float|bool|String|Vector2|Vector3|Color|Rect2|Array|Dictionary|Resource|Node|Object|RID)\\b'
    'name': 'support.type.gdscript'
  }
  { # Anotations
    'match': '@[a-zA-Z_][a-zA-Z0-9_]*'
    'name': 'meta.annotation.gdscript'
  }
  { # Node reference
    'match': '$[a-zA-Z_][a-zA-Z0-9_]*'
    'name': 'meta.reference.gdscript'
  }
  { # Float
    'match': '\\b(?i:(\\d+e[\\-\\+]?\\d+))'
    'name': 'constant.numeric.gdscript'
  }
  { # Integer
    'match': '\\b([1-9]+[0-9]*|0)'
    'name': 'constant.numeric.gdscript'
  }
  {
    'match': '@[a-zA-Z_][a-zA-Z0-9_]*'
    'name': 'meta.annotation.gdscript'
  }
]
